.result {
  background: rgb(46, 43, 233);
  background: linear-gradient(
    0deg,
    rgba(46, 43, 233, 1) 39%,
    rgba(99, 60, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  gap: 2rem;
  padding: 2rem 2rem 3.5rem;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  & > p {
    color: hsl(241, 100%, 89%);
    font-size: 1.6rem;
  }

  .desc {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    max-width: 25rem;
    p {
      &:nth-child(1) {
        font-size: 1.8rem;
        color: hsl(0, 0%, 100%);
      }

      &:last-child {
        color: hsl(241, 100%, 89%);
        opacity: 0.7;
      }
    }
  }
}

@media screen and (min-width: 650px) {
  html {
    body {
      .mainCard {
        .result {
          width: 50%;
          border-top-right-radius: 30px;
          border-top-left-radius: 30px;
        }
      }
    }
  }
}
