.summary {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  h2 {
    font-size: 1.8rem;
  }

  & > div {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    button {
      border-radius: 20px;
      outline: none;
      border: 0;
      padding: 1rem;
      background-color: hsl(224, 30%, 27%);
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s;
    }

    button:hover {
      opacity: 0.9;
    }
  }
}

@media screen and (min-width: 650px) {
  html {
    body {
      .mainCard {
        .summary {
          width: 50%;
        }
      }
    }
  }
}
